@media all and (max-width: 1280px);

	h1 
	{
		background-color : pink;
		font-size: 45pt ;
		text-align: center;
	}


	body 
	{
		background-color :  grey;
	}

	p 
	{
		font-size: 25pt ;
		margin-left: 220pt;
	}
	
	form
	{
	
		margin-left: 1080pt;
		font-size: 20pt ;
	}

	img 
	{
		width: 200px;
		height: 200px;
		margin-left: 220pt;
	
	}

	header
	{
		margin-left: 100pt;
	}

	a
	{
		font-size: 20pt ;
		margin-left: 25pt;
	}
