h1 
{
	background-color : pink;
	font-size: 45pt ;
	text-align: center;
}

body 
{
	background-color :  grey;
}

img
{
	width: 200px;
	height: 200px;
	margin-left: 95pt;
	
}
a
{
	font-size: 20pt ;
	margin-left: 25pt;
}

p
{
	font-size: 15pt ;
	margin-left: 100pt;
	color : white;
}

h2
{
	margin-top: 150pt;
	margin-left: 980pt;
}
button 
{
	margin-left: 980pt;
	
}

div
{
	font-size: 25pt ;
	color : yellow;
	margin-top: 25pt;
}

